PORT=3001
JWT_SECRET=troque-este-segredo
CORS_ORIGIN=http://127.0.0.1:5500

# Mercado Pago
MP_ACCESS_TOKEN=APP_USR-xxxxxxxxxxxxxxxxxxxx
MP_WEBHOOK_SECRET=sua-chave-secreta-do-webhook-mp
BACKEND_URL=https://seu-backend.up.railway.app
FRONTEND_URL=https://seu-site.netlify.app
